/*
#05386B
#379683
#5CDB95
#8EE4AF
#EDF5E1
*/

@font-face {font-family: "Pixelate";
  src: url("//db.onlinewebfonts.com/t/50a184abd35d0a97bc434a3c2ba6d89f.eot");
  src: url("//db.onlinewebfonts.com/t/50a184abd35d0a97bc434a3c2ba6d89f.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/50a184abd35d0a97bc434a3c2ba6d89f.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/50a184abd35d0a97bc434a3c2ba6d89f.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/50a184abd35d0a97bc434a3c2ba6d89f.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/50a184abd35d0a97bc434a3c2ba6d89f.svg#SF Pixelate") format("svg");
}

html {
  height:100%;
}

body {
  min-height:100%;
  display:flex;
  flex-direction:column;
  background-color:#5CDB95;
  font-family: 'Open Sans', sans-serif;
  overflow-y: overlay;
}

main{
  flex-grow:1;
  display:flex;
  flex-direction:column;
  max-width:960px;
  margin:0 auto;
}

nav, footer{
  margin:0 auto;
}

a{
  text-decoration:none;
}

.main-title{
  font-family:'Pixelate';
  font-size:32px;
  color:#05386B;
  margin:20px auto 10px auto;
}

@media all and (max-width : 768px) {
  .main-title{
    font-size:28px;
  }
}

@media all and (min-width : 768px) {
  .main-menu{
    margin-bottom:10px;
  }
}

.main-menu ul{
  display:flex;
  flex-direction:row;
  justify-content:center;
  list-style:none;
  margin:10px 0;
}

.main-menu ul li{
  display:flex;
  border:2px solid #EDF5E1;
  border-radius:3px;
  margin:0 10px;
  min-width:50%;
}

.main-menu ul li a{
  background-color:#5CDB95;
  color:#EDF5E1;
  padding:5px;
  width:100%;
  text-align:center;
  transition: all 0.1s ease-in;
}

.main-menu ul li a:hover{
  color:#5CDB95;
  background-color:#EDF5E1;
  transition: all 0.1s ease-in;
}

.article-section{
  display:flex;
  width:100%;
  flex-wrap:wrap;
}

.article-wrapper{
  margin:5px 10px 5px 10px;
  background-color:#EDF5E1;
  border:0;
  border-radius:3px;
}

@media all and (min-width : 640px) {
  .article-wrapper{
      margin:10px;
  }
}

.article-text{
  padding:10px;
}

.article-text h2 a{
  color:#379683;
  transition: all 0.1s ease-in;
}

.article-text h2 a:hover{
  filter:brightness(80%);
  transition: all 0.1s ease-in;
}

.article-section article img{
  border:0;
  border-radius:3px 3px 0 0;
  width:100%;
  transition: all 0.1s ease-in;
}

.article-section article img:hover{
  filter:brightness(90%);
  transition: all 0.1s ease-in;
}

@media all and (min-width : 768px) {
  .article-section article{
    flex-basis:calc(100%/2);
  }
}

@media all and (min-width : 480px) and (max-width : 768px) {
  .article-section article{
    flex-basis:calc(100%/2);
  }
}

@media all and (max-width : 480px) {
  .article-section article{
    flex-basis:calc(100%/1);
  }
}

.article-info{
  display:flex;
  flex-direction:row;
  margin-top:5px;
}

.article-info time{
  flex-grow:1;
  font-size:10px;
  position:relative;
}

.article-info time span{
  color:#379683;
  font-style:italic;
  position:absolute;
  bottom:0;
}

.more-button{
  color:#379683;
  text-align:center;
  transition: all 0.1s ease-in;
}

.more-button:hover{
  filter:brightness(70%);
  transition: all 0.1s ease-in;
}

footer{
  display:flex;
  background-color:#379683;
  width:100%;
  justify-content:center;
  padding:5px 0;
  margin-top:10px;
}

footer i{
  font-size:24px;
}

.footer-link{
  cursor:pointer;
  display:block;
  color:#EDF5E1;
  margin:10px;
  transition: all 0.1s ease-in;
}

.footer-link:hover{
  filter:brightness(80%);
  transition: all 0.1s ease-in;
}

/* CONTACT PAGE */
.contact-form{
  max-width:500px;
  margin:0 auto;
  padding:10px;
}

.contact-form input, textarea{
  width:100%;
  border:0;
  border-radius:3px;
  margin:0 0 10px 0;
  padding:8px;
  box-sizing:border-box;
  font-size:14px;
}

.contact-form textarea{
  resize:vertical;
  width:100%;
  min-height:100px;
}

.send-form{
  display:flex;
  flex-direction:row;
}

.send-form p{
  padding:5px 10px;
  color:#EDF5E1;
}

.send-form button{
  color:#EDF5E1;
  background-color:#5CDB95;
  border:2px solid #EDF5E1;
  border-radius:3px;
  font-size:14px;
  padding:5px 10px;
  transition: all 0.1s ease-in;
}

.send-form button:hover{
  color:#5CDB95;
  background-color:#EDF5E1;
  transition: all 0.1s ease-in;
  cursor:pointer;
}

/* SHOW POST */
.post-section{
  max-width:640px;
  width:100%;
  flex-grow:1;
  display:flex;
  flex-direction:column;
}

@media all and (max-width : 640px) {
  .post-wrapper{
    margin:0 10px;
  }
}

.post-wrapper{
  flex-grow:1;
  display:flex;
  flex-direction:column;
}

.image-banner{
  height:100%;
  width:100%;
  transition: all 0.1s ease-in;
}

.image-banner:hover{
  filter:brightness(90%);
  transition: all 0.1s ease-in;
}

.image-banner img{
  width:100%;
}

.post-section time{
  font-size:10px;
  color:#379683;
  font-style:italic;
  align-self:flex-end;
}

.post-text{
  color:#05386B;
  flex-grow:1;
}

.post-text h1{
  font-size:24px;
  font-family:'Pixelate';
  margin-top:5px;
}

.post-text p{
  font-size:14px;
  margin:10px 0;
}

@media all and (max-width : 480px) {
  .post-text h1{
    font-size:16px;
  }
  .post-text p{
    font-size:12px;
  }
}

.link-wrapper{
  margin:10px 0;
}

.link-button{
  border:2px solid #EDF5E1;
  background-color:#5CDB95;
  color:#EDF5E1;
  text-align:center;
  transition: all 0.1s ease-in;
  font-size:12px;
  border-radius:3px;
  padding:5px;
}

.link-button:hover{
  background-color:#EDF5E1;
  color:#5CDB95;
  transition: all 0.1s ease-in;
}

.written-by{
  font-size:12px;
  font-style:italic;
  color:#EDF5E1;
}

.written-by a{
  color:#379683;
  transition: all 0.1s ease-in;
}

.written-by a:hover{
  color:#05386B;
  transition: all 0.1s ease-in;
}
